<!-- 
<header id="header">
    <div class="headerDescuento aos-init aos-animate" data-aos="fade-right" data-aos-once="true">
        <button href="#" class="descuentoLink">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <h4>APP EXCLUSIVA! 33% OFF</h4>
            <i class="bi bi-arrow-right"></i>
        </button>

        <div class="alertaHeader"  style="display: none;">
            <p>"X" ofrece una gran variedad de descuentos y promociones a nuestro usarios. Para acceder a estos descuentos haz click en registrarse</p>
            <div class="btnAlertH">
                <button id="registrateBtn">registrarse</button>
                <button id="cerrarAlertaBtn"><i class="bi bi-x-lg"></i></button>

            </div>
        </div>
    </div>
    <div class="headerDiv" data-aos="fade-left" data-aos-once="true">
        <div class="containerLogo" id="headerLink">
            <img src="https://raw.githubusercontent.com/mateoargf/imagenesXEcomerceTPFINAL/main/logoX.png" alt="logo">
            <p>X</p>
        </div>
        <nav class="containerNav">
            <ul class="horizontalMenu">
                <li><a href="http://tpfinalxecomerce.onrender.com/">NUEVO</a></li>
                <li>
                    <a href="http://tpfinalxecomerce.onrender.com/prod/category">HOMBRE</a>
                    <ul class="verticalMenu">
                        <li><a href="#">item</a></li>
                        <li><a href="#">item</a></li>
                        <li><a href="#">item</a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://tpfinalxecomerce.onrender.com/prod/category">MUJER</a>
                    <ul class="verticalMenu">
                        <li><a href="#">item</a></li>
                        <li><a href="#">item</a></li>
                        <li><a href="#">item</a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://tpfinalxecomerce.onrender.com/prod/category">NIÑOS</a>
                    <ul class="verticalMenu">
                        <li><a href="#">item</a></li>
                        <li><a href="#">item</a></li>
                        <li><a href="#">item</a></li>
                    </ul>
                </li>
                <li><a href="#">VENTA</a></li>
            </ul>
        </nav>
        <div class="menuHeader">
            <div class="search">
                <form action="" class="formSearch">
                    <button><i class="bi bi-search iconSearch"></i></button>
                    <input type="text" name="" id="" placeholder="Busqueda">
                </form>
            </div>

            <div class="bag">
                <button id="carritoBtn"><i class="bi bi-bag iconBag"></i></button>
            </div>

            <div id="carritoMenu">
                <h2>Carrito de Compras</h2>
        
                <ul id="listaCarrito"></ul>
        
                <p id="total">Total: $0</p>
        
                <div id="confirmacionCompra">
                    <p>¿Quiere confirmar su compra?</p>
                    <button id="siBtn">SI</button>
                    <button id="noBtn">NO</button>
                </div>
        
                <div class="containerBtnMenu">
                    <button id="comprarAhoraBtn">Comprar Ahora</button>
                    <button id="cerrarCarritoBtn"><i class="bi bi-x-lg X"></i></button>
                </div>
            </div> 

            <div class="menuHamburger">
                <button id="openHamburger"><i class="bi bi-list iconMenu"></i></button>
            </div>
            <div class="hamburgerMenu" id="hamburger">
                <div class="hamburgerContainerHeader">
                    <div class="logoHeaderHamburger">
                        <img src="https://raw.githubusercontent.com/mateoargf/imagenesXEcomerceTPFINAL/main/logoX.png"
                            alt="logo adiddas">
                        <p>X</p>
                    </div>
                    <div class="btnHamburguer">
                        <!-- <div class="btnTraslate">
                            <button><i class="bi bi-translate"></i> eng <i class="bi bi-arrow-down"></i></button>
                        </div> -->
                        <div class="btnTraslate">
                            <button id="toggleTranslationBtn"><i class="bi bi-translate"></i> <span id="languageIndicator">eng</span> <i class="bi bi-arrow-down"></i></button>
                        </div>
                        <div id="google_translate_element" style="display: none;"></div>
                        <div class="btnDollar">
                            <button><i class="bi bi-currency-dollar"></i> usd <i class="bi bi-arrow-down"></i></button>
                        </div>
                    </div>
                </div>
                <div class="containerHamburgerContent">
                    <div class="element">
                        <div class="section">
                            <a href="http://tpfinalxecomerce.onrender.com/">Pagina Principal</a>
                            <button><i class="bi bi-arrow-right arrow-right"></i></button>
                        </div>
                        <div class="img">
                            <img src="/img/header/myWishlist_photo.jpg" alt="">
                        </div>
                    </div>
                    <div class="element">
                        <div class="img">
                            <img src="/img/header/myWishlist_photo.jpg" alt="">
                        </div>
                        <div class="section">
                            <a href="http://tpfinalxecomerce.onrender.com/prod/group">Catalogo</a>
                            <button><i class="bi bi-arrow-right arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="element">
                        <div class="section">
                            <a href="#">Contactos</a>
                            <button><i class="bi bi-arrow-right arrow-right"></i></button>
                        </div>
                        <div class="img">
                            <img src="/img/header/myWishlist_photo.jpg" alt="">
                        </div>
                    </div>
                    <div class="element">
                        <div class="img">
                            <img src="/img/header/myWishlist_photo.jpg" alt="">
                        </div>
                        <div class="section">
                            <a href="#">Preguntas frecuentes</a>
                            <button><i class="bi bi-arrow-right arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="element">
                        <div class="section">
                            <a href="http://tpfinalxecomerce.onrender.com/prod/login">Perfil</a>
                            <button><i class="bi bi-arrow-right arrow-right"></i></button>
                        </div>

                        <div class="img">
                            <img src="/img/header/myWishlist_photo.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="footerHamburgerContainer">
                    <div class="textFooter">
                        <p>No te detengas hasta que estés orgullosa</p>
                    </div>
                    <div class="iconFooter">
                        <button id="closeHamburger"><i class="bi bi-x-lg "></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header> -->

